body {
    margin: 10px;
    background-color: #f9f9f9;
    /*font-family: Futura, Helvetica, Arial, sans-serif;*/
}

#main-header {
    /*background-color: #efece3;*/
    color: #b7a064;
}

#divider {
    background-color: #efece3;
    height: 40px;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
}

#searchbar {
    margin-bottom: 20px;
}

#movie-search-list-div .ui.header, #nomination-list-div .ui.header, #prev-search-list-div .ui.header {
    color: #b7a261;
}


#nomination-header select, #nomination-header button {
    cursor: pointer;
    margin: 0 5px;
    border: 0;
    padding-bottom: 0;
    outline: 1px solid black;
}
