
.ui.cards .card {
    position: relative;
    height: 300px;
    width: 200px;
    margin: 10px;
}

.ui.cards .button-div {
    /*width: 30px;*/
    position: absolute;
    right: 0;
    top: 0;
    margin: 5px;
    /*text-align: center;*/
}

/*.ui.items > .item {
    padding: 10px;
}

.ui.items > .item {
    background-color: #eee;
}

.ui.items > .item > .content > .description {
    color: #9b9b9b;
}

.ui.items > .item > .content > .meta {
    color: #9b9b9b;
}

.ui.items > .item > .content > .header {
    font-weight: 400;
}

.description {
    color: #9b9b9b;
}*/